# .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/

# Node
node_modules/
dist/
.npm

# Logs
logs/
*.log

# IDE
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Environment
.env.local
.env.*.local
